/* style.css */
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 2rem auto;
  font-family: Calibri;
}

h1 {
  text-decoration: wavy;
  font-weight: bold;
  font-size: 4rem;
  font-style: oblique;
  letter-spacing: 0.2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100vw;
}

#score-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar-row {
  display: flex;
  gap: 5px;
}

.lightbulb {
  width: 10vw;
  height: 10vw;
  margin: 1vw 3vw;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.2);
  transition: background-color 0.3s;
}

/* Lightbulb color variations */
#b1.on,
#u1.on {
  background-color: yellow;
}

#b2.on,
#u2.on {
  background-color: orange;
}

#b3.on,
#u3.on {
  background-color: red;
}

#b4.on,
#u4.on {
  background-color: purple;
}

#b5.on,
#u5.on {
  background-color: blue;
}

#b0.on,
#u0.on {
  background-color: papayawhip;
}

.on {
  animation: pulse 3s ease-in;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

#button {
  margin: 1rem auto 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: #eee;
  border-radius: 10%;
  background-color: green;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

#button:hover {
  background-color: darkgreen;
  transform: scale(2);
}
