/* style.css */
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 5, 255);
    /*
    background: radial-gradient(
        circle,
        rgba(0, 5, 255, 1) 0%,
        rgba(0, 255, 3, 1) 34%,
        rgba(241, 255, 0, 1) 68%,
        rgba(250, 0, 0, 1) 100%
    );
    */
    background: linear-gradient(
        90deg,
        rgba(0, 5, 255, 1) 0%,
        rgba(0, 255, 3, 1) 34%,
        rgba(241, 255, 0, 1) 68%,
        rgba(250, 0, 0, 1) 100%
    );
}

.circle {
    position: absolute;
    border-radius: 50%;
    animation: growAndFade 10s ease-out forwards;
}

@keyframes growAndFade {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
